<!doctype html>
<html>

<head>
  <title>Dashboard</title>
</head>

<body>
  <h3>Hello {{user.username}}</h3>
  <p>Welcome to your dashboard</p>
  <p>Here is the information we have on file for you:</p>
  <h4>username: {{user.username}}</h4>
  <h4>email: {{user.email}}</h4>
  <h4>role: {{user.role}}</h4>
  <h4>email: {{user.email}}</h4>
  <h4>password: {{user.password}} (sensitive data should not be put in the session)</h4>
 
  <br>
  <a href="/admin">Administration</a><br>
  <a href="/logout">Logout</a>
</body>

</html>
